---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Portfolio de Thomas Robveille</h1>
    <p>Voici mon portfolio fait avec Astro en VueJS et UnoCSS</p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>
    <p>
      Le
      <a
        target="_blank"
        href="https://github.com/ThomasRobveille/thomas-robveille-astro-portfolio/tree/main/src"
      >
        dépôt GitHub
      </a>
      se trouve ici est est déployé sur Netlify
    </p>
    <p>
      Si vous aimez le style de ce thème Astro
      <a target="_blank" href="https://github.com/kevinwong865">
        cliquez ici
      </a>
    </p>
    <hr class="hr-line" />
    <p>Retrouver moi</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Si vous avez la moindre question, contactez-moi par mail à
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
